footer {

    .partners {
        background: $lighter;

        .row {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
        }

        a {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            padding-right: 2rem;
            box-sizing: border-box;
            background: $lighter;
        }

        img {
            max-width: 100%;
            height: auto;
            background-blend-mode: multiply;
            mix-blend-mode: multiply;
        }
    }

    .footer {
        &-content {
            padding: 3rem 0 0;

            .col {
                margin-bottom: 3rem;

                h4 {
                    margin: 0;
                }

                ul {
                    margin: 0;

                    li {
                        a {
                            line-height: 2.25rem;
                            font-size: 1.125rem;
                            color: $font;
                        }
                    }
                }
            }
        }

        &-bottom {
            padding: 1rem 0 1.5rem;
            border-top: 0.125rem solid $light;

            .col {
                margin: 0;
            }

            a, span {
                line-height: 3.125rem;
                font-family: 400;
                font-size: 1.125rem;
                color: $font;
            }

            a {
                &:hover {
                    text-decoration: underline;
                    color: $primary;
                }
            }
        }
    }
}