.padding {
    &-x {
        padding: 0 1rem;

        @media #{$medium-and-up} {
            padding: 0 calc( 100% / 12 );
        }

        &-left {
            padding-left: 1rem;

            @media #{$medium-and-up} {
                padding-left: calc( 100% / 12 );
            }
        }

        &-right {
            padding-right: 1rem;

            @media #{$medium-and-up} {
                padding-right: calc( 100% / 12 );
            }
        }
    }

    &-y {
        padding: 3rem 0;

        @media #{$medium-and-up} {
            padding: 4rem 0;
        }

        &-top {
            padding-top: 3rem;

            @media #{$medium-and-up} {
                padding-top: 4rem;
            }
        }

        &-bottom {
            padding-bottom: 3rem;

            @media #{$medium-and-up} {
                padding-bottom: 4rem;
            }
        }
    }
}

main {
    max-width: 100vw;
    overflow: hidden;
}

.row {
    margin-bottom: 0;

    &.centered {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .col {
            margin: 0;
        }
    }
}

.hero {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 16rem;
    max-height: 28rem;
    overflow: hidden;
    position: relative;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
}

figure {
    display: flex;
    margin: 0;
    padding: 0;

    overflow: hidden;

    img {
        margin: 0;
        vertical-align: text-bottom;
    }
}

.container {
    width: 100%;
    max-width: 87.5rem;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    @media #{$small-and-down} {
        padding: 0;
    }

    @media #{$large-and-up} {
        // padding: 0 6.25rem;
    }
}

.services {
    .col {
        a {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            &:hover {
                figure {
                    box-shadow: 0 0.5rem 1rem rgba( $dark, 0.1 );
                    transform: translateY(-0.5rem);
                }
                h2 {
                    color: $primary;
                }
            }
        }

        figure {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.75rem;
            box-shadow: 0 0 0 rgba( $dark, 0 );

            transform: translateY(0);
            transition: 240ms ease-out;
        }
    }
}

ul {
    &.check {
        margin-bottom: 2rem;

        li {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: baseline;

            line-height: 3.125rem;
            font-size: 1.125rem;
            color: $font;

            svg {
                width: 0.9375rem;
                height: 0.9375rem;
                margin-right: 1.375rem;

                * {
                    fill: $primary;
                }
            }
        }
    }
}

.partners {
    .col {
        a {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }

        figure {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }
    }
}

.map {
    display: flex;
    flex-flow: column wrap;
    max-height: 20rem;
    margin-bottom: 3rem;
    box-sizing: border-box;

    @media #{$medium-and-up} {
        padding-right: 6rem !important;
    }

    iframe {
        min-width: 100%;
        max-width: 100%;
        background: $light;
    }
}