.sidenav {
    z-index: 2000;

    &-trigger {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 -1rem !important;
        padding: 0 1rem;

        color: $white;

        .hamburger-menu {
            width: 1.25rem;
            height: 0.125rem;

            background: $white;
            position: relative;

            &:before,
            &:after {
                content: '';
                width: 1.25rem;
                height: 0.125rem;

                background: $white;
                position: absolute;
                left: 0;
            }
            
            &:before {
                top: -0.5rem;
            }    

            &:after {
                bottom: -0.5rem;
            }                
        }
    }

    li {
        height: auto;

        &.active {
            & > a {

            }
        }

        & > a {
            height: auto;
            padding: 1.5rem 2rem;

            line-height: 1.0625rem;
            font-family: $font-heading;
            font-weight: 700;
            font-size: 1.0625rem;
            color: $dark;
        }
    }
}

.scrolled {
    nav {
        background: rgba( $white, 1);

        @media #{$medium-and-up} {
            background: none;
        }
    }
    .sidenav {
        &-trigger {

            .hamburger-menu {
                background: $darker;

                &:before,
                &:after {
                    background: $darker;
                }
            }
        }
    }
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    min-height: 4.5rem;

    background: rgba( $white, 0);
    box-shadow: none;
    overflow: hidden;

    position: fixed;
    top: 0;
    z-index: 1000;

    transition: background 240ms ease-out;

    @media #{$medium-and-up} {
        min-height: 8rem;
        background: none;
    }

    .col {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .logo {
        display: flex;
        padding: 0.75rem 0;

        img {
            width: auto;
            max-height: 3rem;

            @media #{$medium-and-up} {
                max-height: 9rem;
            }
        }
    }

    .col {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        height: 3.75rem;
        padding: 0 0.75rem;
        margin: 1.5rem 0;
        position: relative;

        &:after {
            content: '';
            width: 100vw;
            height: 100%;
            background: $primary;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        li {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            overflow: hidden;
            position: relative;
            z-index: 10;

            a {
                margin: 0;
                padding: 2rem 0.75rem;

                line-height: 1.125rem;
                font-family: $font-primary;
                font-weight: 400;
                font-size: 1.125rem;
                color: $white;

                position: relative;
            }
        }
    }
}