* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.fa {
    &:before,
    &:after {
        font-family: "FontAwesome" !important;
    }
}

h1 {
    margin: 0 0 1rem;
    line-height: 1.875rem;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 1.5rem;
    color: $primary;
}

h2 {
    margin: 0 0 1.5rem;
    line-height: 2.25rem;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 1.5rem;
    color: $font;
}

h3 {
    line-height: 2rem;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 1.5rem;
    color: get-color(font);
}

h4 {
    line-height: 2.25rem;
    font-weight: 700;
    font-size: 1.125rem;
    color: $font;
}


p {
    margin: 0 0 0.75rem;
    line-height: 2rem;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1.125rem;
    color: $font;

    a {
        text-decoration: none;
        font-weight: 700;
        color: $accent;

        &:hover {
            text-decoration: underline;
            color: $accent;
        }
    }
}

blockquote {
    text-align: center;
    line-height: 1.9375rem;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1.5rem;
    color: $font;

    @media #{$medium-and-up} {
        line-height: 2.25rem;
        font-size: 1.875rem;
    }
}

.title {
    &-page {
        margin: 0;
        padding: 1rem 0 2rem;
        line-height: 3.5rem;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 2.75rem;

        @media #{$medium-and-up} {
            padding: 1.5rem 0 2.5rem;
            line-height: 7.5rem;
            font-size: 6.25rem;
        }

        span.accent-orange {
            font-family: "helvetica", "arial", sans-serif;
        }
    }

    &-section {
        margin: 0;
        padding-bottom: 2rem;

        text-transform: uppercase;
        line-height: 1.875rem;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 1.875rem;
        color: $primary;

        position: relative;

        @media #{$medium-and-up} {
            padding-bottom: 6rem;
            line-height: 1.875rem;
            font-size: 1.875rem;
        }

        &.line {
            padding-top: 3.625rem;

            &:before {
                content: '';

                width: 6.25rem;
                height: 0.625rem;

                background: $accent;

                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

.accent {
    &-orange {
        color: $accent;
    }
}

.italic {
    font-style: italic;
}